/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Setting the root element font size to a number we can have more control over and enable us use relative  units */
html {
  /* font-size: 10px; */
  /* Therefore, 1rem = 10px */
  font-size: 62.5%;

  @include respond(tab-port) {
    font-size: 56.25%;
  }

  @include respond(tab-land) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

/* Using the power of inheritance, we set properties like font in the body */
body {
  box-sizing: border-box;
}
